{% sw_extends "@Storefront/storefront/base.html.twig" %}

{% block base_content %}
 {% block register_additional_section %}
    <div class="container">
        <div class="row mt-5">
           <form action="{{ path('cidaas.register.additional.save') }}"
                      class="register-form"
                      method="post"
                      data-form-submit-loader="true"
                      data-form-csrf-handler="true"
                      data-form-validation="true">

                    {% block component_account_register_personal %}
                        <div class="register-personal mb-3">
                            {% block component_account_register_personal_fields %}
                                {% block component_account_register_personal_address_fields %}
                                    {% sw_include '@Storefront/storefront/component/address/address-personal.html.twig' with {
                                        showBirthdayField: config('core.loginRegistration.showBirthdayField'),
                                        accountType: data.get('accountType')
                                    } %}
                                {% endblock %}

                                {% block component_account_register_company_fields %}
                                    {% sw_include '@Storefront/storefront/component/address/address-personal-company.html.twig' with {
                                        prefix: 'billingAddress',
                                        address: data.get('billingAddress')
                                    } %}
                                {% endblock %}

                                {% set formGroupMail %}
                                    {% block component_account_register_personal_mail %}
                                        {% block component_account_register_personal_mail_label %}
                                            <label class="form-label"
                                                    for="personalMail">
                                                {{ 'account.personalMailLabel'|trans|sw_sanitize }}{{ 'general.required'|trans|sw_sanitize }}
                                            </label>
                                        {% endblock %}

                                        {% block component_account_register_personal_mail_input %}
                                            <input type="email" 
                                                    class="form-control{% if formViolations.getViolations('/email') is not empty %} is-invalid{% endif %}"
                                                    autocomplete="section-personal email"
                                                    id="personalMail"
                                                    placeholder="{{ 'account.personalMailPlaceholder'|trans|striptags }}"
                                                    name="email"
                                                    value="{{ data.get('email') }}"
                                                    {% if config('core.loginRegistration.requireEmailConfirmation') %}
                                                    data-form-validation-equal="personalMail"
                                                    {% endif %}
                                                    required="required" readonly>
                                        {% endblock %}

                                        {% block component_account_register_personal_mail_input_error %}
                                            {% if formViolations.getViolations('/email') is not empty %}
                                                {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                                                    violationPath: '/email'
                                                } %}
                                            {% endif %}
                                        {% endblock %}
                                    {% endblock %}
                                {% endset %}

                                {% set formGroupMailConfirmation %}
                                {% endset %}

                                {% set formGroupPassword %}

                                {% endset %}

                                {% set formGroupPasswordConfirmation %}

                                {% endset %}

                                {% block component_account_register_personal_account_fields %}
                                    <div class="row g-2">
                                        <div class="form-group col-sm-6">
                                            {{ formGroupMail }}
                                        </div>
                                        <div class="form-group col-sm-6">
                                            {% if config('core.loginRegistration.requireEmailConfirmation') %}
                                                {{ formGroupMailConfirmation }}
                                            {% elseif not config('core.loginRegistration.requirePasswordConfirmation') %}
                                                {{ formGroupPassword }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-sm-6">
                                            {% if config('core.loginRegistration.requireEmailConfirmation') or config('core.loginRegistration.requirePasswordConfirmation') %}
                                                {{ formGroupPassword }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-sm-6">
                                            {% if config('core.loginRegistration.requirePasswordConfirmation') %}
                                                {{ formGroupPasswordConfirmation }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endblock %}
                            {% endblock %}
                        </div>
                    {% endblock %} 

                    {% block component_account_register_address %}
                        <div class="register-address mb-5">
                            {% block component_account_register_address_fields %}
                                {% block component_account_register_address_billing %}
                                    <div class="register-billing">
                                        {% block component_account_register_address_billing_header %}
                                            <div class="card-title" style="border: none !important;">
                                                {{ 'account.registerAddressBillingHeader'|trans|sw_sanitize }}
                                            </div>
                                        {% endblock %}

                                        {% block component_account_register_address_billing_fields %}
                                            {% sw_include '@Storefront/storefront/component/address/address-form.html.twig' with {
                                                prefix: 'data',
                                                data: data,
                                                showNoShippingPostfix: true,
                                            } %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block component_account_register_address_different_shipping %}   
                                {% endblock %}
                            {% endblock %}
                        </div>
                    {% endblock %} 

                    {% block component_account_register_captcha %}
                        {% sw_include '@Storefront/storefront/component/captcha/base.html.twig' with { preCheck: true } %}
                    {% endblock %}

                    {% block component_account_register_privacy %}
                        {% sw_include '@Storefront/storefront/component/privacy-notice.html.twig' %}
                    {% endblock %}

                    {% block component_account_register_required_fields %}
                        <p class="register-required-info">
                            {{ "general.requiredFields"|trans|sw_sanitize }}
                        </p>
                    {% endblock %}

                      {% block page_account_address_actions_additional_csrf %}
                            {{ sw_csrf('cidaas.register.additional.save') }}
                      {% endblock %}

                 
                    {% block component_account_register_cnacel %}
                        <div style="text-align: center;" class="col-md-6 offset-md-6">
                           <a href="{{ path('cidaas.register.additional.cancel') }}" class="btn btn-secondary btn-lg" style="display: inline-block;width: 44%;text-decoration: none;height: 43px;">
                                <button type="button" class="btn btn-secondary btn-lg" style="width: 100%;line-height: 2;">
                                    Cancel
                                </button>
                            </a>

                            <button type="submit" style="display: inline-block; margin-right: 2%;width: 48%" class="btn btn-primary btn-lg">
                                {{ "account.addressSubmit"|trans|sw_sanitize }}
                            </button>
                        </div>
                    {% endblock %}
            </form>        
        </div>
    </div>

   {% endblock %}
{% endblock %} 