{% block changePassword %}
<div data-cidaas-password 
        data-cidaas-password-options="{{
            {
            sub: context.customer.customFields.sub,
            csrf: sw_csrf('cidaas.changepassword', {'mode': 'token'}),
            csrfGenerate: sw_csrf('cidaas.generate', {'mode': 'token'})
            }|json_encode
        }}">
</div>
{% block page_account_profile_password_form %}
<form id="profilePasswordForm"
        class="card-body"
        method="post"
        data-form-validation="true">

    {% block page_account_profile_password_title %}
        <div class="card-title">
            {{ "account.profilePasswordTitle"|trans|sw_sanitize }}
        </div>
    {% endblock %}

    {% block page_account_profile_password_container %}
        <div class="form-row">
            {% block page_account_profile_new_password %}
                <div class="col form-group">
                    {% block page_account_profile_new_password_label %}
                        <label class="form-label"
                                for="newPassword">
                            {{ "account.profilePasswordCreateNew"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                        </label>
                    {% endblock %}

                    {% block page_account_profile_new_password_input %}
                        <input type="password"
                                class="form-control{% if formViolations.getViolations('/newPassword') is not empty %} is-invalid{% endif %}"
                                autocomplete="new-password"
                                id="newPassword"
                                placeholder="{{ "account.profilePasswordCreateNew"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                                name="password[newPassword]"
                                data-form-validation-equal="newPassword"
                                data-form-validation-length="{{ config('core.loginRegistration.passwordMinLength') }}"
                                data-form-validation-length-message=" {{ "account.personalPasswordDescription"|trans({
                                    '%minLength%': config('core.loginRegistration.passwordMinLength')
                                })|sw_sanitize }}"
                                required="required">
                    {% endblock %}

                    {% block page_account_profile_new_password_input_error %}
                        {% if formViolations.getViolations('/newPassword') is not empty %}
                            {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                                violationPath: '/newPassword'
                            } %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_account_profile_new_password_confirmation %}
                <div class="col form-group">
                    {% block page_account_profile_new_password_confirmation_label %}
                        <label class="form-label"
                                for="passwordConfirmation">
                            {{ "account.personalPasswordConfirmationLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                        </label>
                    {% endblock %}

                    {% block page_account_profile_new_password_confirmation_input %}
                        <input type="password"
                                class="form-control{% if formViolations.getViolations('/newPassword') is not empty %} is-invalid{% endif %}"
                                autocomplete="new-password"
                                id="passwordConfirmation"
                                placeholder="{{ "account.personalPasswordConfirmationLabel"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                                name="password[newPasswordConfirm]"
                                required="required"
                                data-form-validation-equal="newPassword"
                                data-form-validation-equal-message="{{ "account.personalPasswordConfirmationInvalidMessage"|trans|striptags }}">
                    {% endblock %}

                    {% block page_account_profile_new_password_confirmation_error %}
                        {% if formViolations.getViolations('/newPassword') is not empty %}
                            {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                                violationPath: '/newPassword'
                            } %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>

        <p class="text-muted">{{ "account.profileConfirmPassword"|trans|sw_sanitize }}</p>
    {% endblock %}

    {% block page_account_profile_current_password %}
        <div class="form-row">
            <div class="col-6 form-group">
                {% block page_account_profile_current_password_label %}
                    <label class="form-label"
                            for="password">
                        {{ "account.profilePasswordCurrent"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                    </label>
                {% endblock %}

                {% block page_account_profile_current_password_input %}
                    <input type="password"
                            class="form-control{% if formViolations.getViolations('/password') is not empty and passwordFormViolation %} is-invalid{% endif %}"
                            autocomplete="new-password"
                            id="password"
                            placeholder="{{ "account.profilePasswordCurrent"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                            name="password[password]"
                            required="required">
                {% endblock %}

                {% block page_account_profile_current_password_input_error %}
                    {% if formViolations.getViolations('/password') is not empty and passwordFormViolation %}
                        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                            violationPath: '/password'
                        } %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block page_account_profile_password_required %}
        <p class="account-profile-required-info required-fields">
            {{ "general.requiredFields"|trans|sw_sanitize }}
        </p>
    {% endblock %}

    {% block page_account_profile_password_action_buttons %}
        <div class="card-actions">
            {% block page_account_profile_password_action_button_send %}
                <button type="submit"
                        class="profile-form-submit btn btn-light btn-sm"
                        title="{{ "account.profileSaveChanges"|trans|striptags }}">
                    {{ "account.profileSaveChanges"|trans|sw_sanitize }}
                </button>
            {% endblock %}
        </div>
    {% endblock %}
</form>
{% endblock %}
{% endblock %}