{% block changeemail %}
    <div
        data-cidaas-email-change
        data-cidaas-email-change-options="{{
            {
                'sub': context.customer.customFields.sub,
            }|json_encode
        }}"
    ></div>
    <div class="card account-email" id="accountMailContainer">
        <form class="card-body" id="emailForm">
            <div class="card-title">{{ "account.addressChangeLabel"|trans|sw_sanitize }}
            </div>
            <div class="row g-2">
                <div class="col form-group">
                    <label class="form-label"
                        for="personalMail">
                        {{ "account.personalMailLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                    </label>
                    <input type="email"
                        class="form-control{% if formViolations.getViolations('/email') is not empty %} is-invalid{% endif %}"
                        autocomplete="section-personal email"
                        id="personalMail"
                        placeholder="{{ "account.personalMailPlaceholder"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                        name="email[email]"
                        data-form-validation-equal="personalMail"
                        required="required">
                </div>
                <div class="col form-group">
                    <label class="form-label"
                            for="personalMailConfirmation">
                        {{ "account.personalMailConfirmationLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                    </label>
                    <input type="email"
                        class="form-control{% if formViolations.getViolations('/email') is not empty %} is-invalid{% endif %}"
                        autocomplete="section-personal email"
                        id="personalMailConfirmation"
                        placeholder="{{ "account.personalMailConfirmationPlaceholder"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                        name="email[emailConfirmation]"
                        required="required"
                        data-form-validation-equal="personalMail"
                        data-form-validation-equal-message="{{ "account.personalMailConfirmationInvalidMessage"|trans|striptags }}">
                        <div class="invalid-feedback" style="display:none" id="invalidFeedback">{{ "account.emailMismatchMessage"|trans|sw_sanitize }}
                        </div>
                </div>
            </div>
            
            <div class="card-actions">
                <button type="submit"
                        class="profile-form-submit btn btn-light btn-sm"
                        title="{{ "account.profileSaveChanges"|trans|striptags }}">
                    {{ "account.profileSaveChanges"|trans|sw_sanitize }}
                </button>
            </div>
        </form>
        <div class="card-body" id="verifyThing" style="display: none;">
            <div class="card-title">{{ "account.confirmChangeLabel"|trans|sw_sanitize }}
            </div>
            <div class="row">
                <div class="col" id="emailVerify">
                    <p>{{ "account.confirmChangesMessage"|trans|sw_sanitize }}
                    </p>
                    {{ "account.newEmailLabel"|trans|sw_sanitize }}: <span id="emailVerifySpan" style="font-weight: 700; color: #e30613;"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" id="verifyButton">{{ "account.confirmBtnLabel"|trans|sw_sanitize }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}